In [1]:
# Pandas Exercises

In [2]:
#Time to test your new pandas skills! Use the two csv files in this folder to complete the tasks in bold below!

#** NOTE: ALL TASKS MUST BE DONE IN ONE LINE OF PANDAS CODE. GOT STUCK? NO PROBLEM! CHECK OUT THE SOLUTIONS ! **

In [3]:
#** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [4]:
#** Show the head of the dataframe **

In [5]:
#** What are the column names? **

In [7]:
#** How many States (ST) are represented in this data set? **

In [8]:
#** Get a list or array of all the states in the data set. **

In [9]:
#** What are the top 5 states with the most failed banks? **

In [10]:
#** What are the top 5 acquiring institutions? **

In [11]:
#** How many banks has the State Bank of Texas acquired and how many of them were actually in Texas?** Texas = TX

In [12]:
#** What is the most common city in State 'CA' for a bank to fail in?**

In [13]:
#** How many failed banks don't have the word "Bank" in their name? **

In [14]:
#** How many bank names start with the letter 's' ? **

In [15]:
#** How many CERT values are above 20000 ? **

In [16]:
#** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [17]:
#**Bonus: How many banks closed in the year 2008? (this is hard because we technically haven't learned about time 
# series with pandas yet! Feel free to skip this one!**

In [ ]:
#GREAT JOB

#ML FORUM VIIT