In [1]:
import pandas as pd

In [2]:
list1=[1,2,4.56,'abcd']
pd.Series(list1)

0       1
1       2
2    4.56
3    abcd
dtype: object

In [3]:
tup1=(3,True,'abc')
pd.Series(tup1)

0       3
1    True
2     abc
dtype: object

In [4]:
dict={1:45,'a':False,5.06:'hello'}
pd.Series(dict)

1          45
a       False
5.06    hello
dtype: object

In [5]:
ser=pd.Series(list1)

In [6]:
ser

0       1
1       2
2    4.56
3    abcd
dtype: object

In [7]:
pd.Series(list1, index=['a','b','c','d'])

a       1
b       2
c    4.56
d    abcd
dtype: object

In [8]:
type(ser)

pandas.core.series.Series

In [9]:
ser.values

array([1, 2, 4.56, 'abcd'], dtype=object)

In [10]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
ser2=pd.Series([1,2,3,45])
ser2.mean()

12.75

In [15]:
ser2.std()

21.51549828999242

In [16]:
ser2

0     1
1     2
2     3
3    45
dtype: int64

In [17]:
ser2.reindex([3,0,1,2])

3    45
0     1
1     2
2     3
dtype: int64

In [18]:
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([9,8,7,6,5])

In [19]:
ser3=ser1+ser2

In [20]:
ser3

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [21]:
ser1-ser2

0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64

In [22]:
ser1*ser2

0     9
1    16
2    21
3    24
4    25
dtype: int64