In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np

In [2]:
import plotly.graph_objs as go

In [3]:
app = dash.Dash()

In [4]:
df = pd.read_csv("temp.csv")

In [5]:
df

      D   Y    X
0     1  78  4.4
1     1  74  3.9
2     1  68  4.0
3     1  76  4.0
4     1  80  3.5
..   ..  ..  ...
217  23  61  2.1
218  23  81  4.2
219  23  48  2.1
220  23  84  5.2
221  23  63  2.0

[222 rows x 3 columns]

In [6]:
app.layout = html.Div([
    dcc.Graph(id='old_faithful',
             figure={'data':[go.Scatter(x=df['X'],y=df['Y'],mode='markers')],
                    'layout':go.Layout(title='Old Faithful Eruption')})
    
])

In [7]:
if __name__ =='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [13/Sep/2020 09:55:26] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/Sep/2020 09:55:26] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [13/Sep/2020 09:55:26] "GET /_dash-dependencies HTTP/1.1" 200 -