In [2]:
print("Hello World")

Hello World

# Data types in python

In [12]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/5

0.2

In [6]:
1//5

0

In [7]:
2**4

16

In [10]:
(2 + 3) * (5 +5)

50

In [11]:
10%3

1

# variable assignment
python is dynamically typed language means there is no need to declare variable

In [13]:
var = 1

In [14]:
var

1

In [15]:
x =2
y=3

In [16]:
x+y

5

In [18]:
x =x+x
x

8

#  Strings

In [20]:
'single quotes'

'single quotes'

In [21]:
"this is a string"

'this is a string'

In [22]:
"I can't go"

"I can't go"

In [23]:
x= "hello"

In [24]:
x

'hello'

In [25]:
print(x)

hello

In [26]:
num = 12
name = "sam"

In [31]:
print("My number is {} and my name is {}".format(num,name))

My number is 12 and my name is sam

In [32]:
print("My number is {one} and my name is {two}".format(one=num,two=name))

My number is 12 and my name is sam

In [30]:

print("My number is "+str(num)+" and my name is "+name)

My number is 12 and my name is sam

# String indexing

In [33]:
s = "hello"

In [34]:
s[1]

'e'

In [35]:
s[-1]

'o'

In [37]:
s[0:-1:2] # start,end,step

'hl'

In [38]:
s[0:]

'hello'

In [39]:
s[:3]

'hel'

# List

In [40]:
[1,2,3,4]

[1, 2, 3, 4]

In [41]:
my_list = ['a','b','c','d']

In [42]:
my_list.append('e')

In [43]:
my_list

['a', 'b', 'c', 'd', 'e']

In [44]:
my_list[0]

'a'

In [45]:
my_list[1:3]

['b', 'c']

In [46]:
my_list[0]= 'new'

In [47]:
my_list

['new', 'b', 'c', 'd', 'e']

In [48]:
nest = [1,2,[3,4]]

In [49]:
nest

[1, 2, [3, 4]]

In [52]:
nest[2][0]

3

# Dictionaries

In [54]:
d = {'key1':'value','key2':123}

In [55]:
d['key1']

'value'

In [56]:
d['key2']

123

In [57]:
d = {'k1':[1,2,3,4]}

In [58]:
d

{'k1': [1, 2, 3, 4]}

In [59]:
d['k1']

[1, 2, 3, 4]

In [60]:
d['k1'][1]

2

In [61]:
d = {'k1':{'inner':[1,2,3,4]}}

In [62]:
d['k1']

{'inner': [1, 2, 3, 4]}

In [64]:
d['k1']['inner'][1]

2

# Booleans

In [65]:
True

True

In [66]:
False

False

# Tuples and sets

In [67]:
t = (1,2,3)

In [68]:
t[0]

1

In [69]:
t[0]=3

TypeError: 'tuple' object does not support item assignment

In [70]:
t = tuple([1,2,3,45])

In [71]:
t

(1, 2, 3, 45)

In [72]:
 {1,2,3,4,5,1,1,1,1,1} # sets contain only unique elements

{1, 2, 3, 4, 5}

In [73]:
set([1,1,1,1,2,3,3,42,2,2,2])

{1, 2, 3, 42}

In [74]:
s={1,2,3}

In [75]:
s.add(5)

# Comparison operators

In [76]:
1 > 2

False

In [77]:
1 < 2

True

In [78]:
1 >= 2

False

In [79]:
1 <= 2

True

In [80]:
1 == 1

True

In [81]:
1 ==1.0

True

In [82]:
1 != 3

True

In [83]:
'hi' != 'bye'

True

# Logical operators

In [84]:
1 < 2 and 2 < 3

True

In [85]:
1 < 2 or 2 > 3

True

In [86]:
not 1==2

True

# Conditional blocks

In [89]:
if 1==2 :
    print("yess")
else:
    print('no')

no

In [90]:
if 1<2:
    print("yess")
else:
    print('no')

yess

In [91]:
if True:
    print("yess")
else:
    print('no')

yess

In [92]:
if 1<2:
    print(1)
elif 2<3:
    print(2)
else:
    print(3)

1

# for allows us to iterate over sequence it converts iterable object into iterator

In [93]:
seq = [1,2,3,4]
for i in seq:
    print(i)

1
2
3
4

In [95]:
i = 1
while i <5:
    print("i is {}".format(i))
    i+=1
    
# while executes code until condition is true

i is 1
i is 2
i is 3
i is 4

In [96]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [99]:
list(range(0,5))

[0, 1, 2, 3, 4]

# List comprehension

In [100]:
x = [1,2,3,4]

In [101]:
out = []

for num in x:
    out.append(num**2)

In [102]:
out

[1, 4, 9, 16]

In [103]:
out1 = [i**2 for i in x]

In [104]:
out1

[1, 4, 9, 16]

# Fucntion

In [110]:
def my_func(name="vikram"):
    print("hello "+name)

In [111]:
my_func('vicky')

hello vicky

In [112]:
my_func()

hello vikram

In [113]:
def square_n(num):
    """
    This is the doc string for the square function
    and it takes the 1 parameter
    """
    return num**2

In [114]:
square_n.__doc__

'\n    This is the doc string for the square function\n    and it takes the 1 parameter\n    '

In [115]:
help(square_n)

Help on function square_n in module __main__:

square_n(num)
    This is the doc string for the square function
    and it takes the 1 parameter

In [116]:
square_n(2)

4

# Map and Filter functions

In [117]:
seq =[1,2,3,4,5]

In [118]:
def times2(var):
    return var*2

In [120]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [121]:
list(map(lambda x : x*2,seq))

[2, 4, 6, 8, 10]

In [122]:
list(filter(lambda x : x%2==0,seq))

[2, 4]

In [123]:
from functools import reduce

In [126]:
reduce(lambda x,y:x+y,seq)

15

In [127]:
s = "hello my name is vikram"

In [128]:
s.capitalize()

'Hello my name is vikram'

In [130]:
s.lower()

'hello my name is vikram'

In [131]:
s.swapcase()

'HELLO MY NAME IS VIKRAM'

In [133]:
s.split()

['hello', 'my', 'name', 'is', 'vikram']

In [136]:
d = {"k1":1,"k2":2}

In [137]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [138]:
d.keys()

dict_keys(['k1', 'k2'])

In [139]:
d.values()

dict_values([1, 2])

In [151]:
lst = [1,2,3,4,2]

In [147]:
lst.pop()

4

In [148]:
lst

[1, 2, 3]

In [149]:
lst.pop(0)

1

In [150]:
lst

[2, 3]

In [152]:
lst.remove(2)

In [153]:
lst

[1, 3, 4, 2]

In [154]:
1 in lst

True

In [155]:
8 in lst

False

# Tuple unpacking

In [156]:
x = [(1,2),(3,4),(5,6)]

In [157]:
x[0]

(1, 2)

In [158]:
x[0][1]

2

In [160]:
for (a,b) in x:
    print(a)

1
3
5

In [161]:
for (a,b) in x:
    print(b)

2
4
6