In [2]:
import pymongo as m

In [5]:
# package which enable us to connect to the mongodb
dbconn = m.MongoClient("mongodb://localhost:27017/") # connecting to the mongodb local instance

In [94]:
dbname='m202'

In [95]:
db= dbconn[dbname]
# if db is not present it will automatically create one

In [96]:
print(dbconn.list_database_names())

['admin', 'config', 'exam', 'local', 'm201', 'test']

In [97]:
# check if db is exits in mongodb
dblist= dbconn.list_database_names() # obtaining all the database names
print(dblist)
if dbname in dblist:
    print("DB is present")
else:
    print("DB doesn't exists")

['admin', 'config', 'exam', 'local', 'm201', 'test']
DB doesn't exists

In [98]:
coll = db['people']

In [99]:
if 'people' in db.list_collection_names():
    print("present")
else:
    print("not present")

not present

In [100]:
my_row={
    'name':'vikram',
    'last_name':'shinde',
    'mks':'99',
    'age':'20'
}
# creating key value pairs for inserting into DB

In [101]:
x = coll.insert_one(my_row)

In [102]:
x.inserted_id
# printing unique id

ObjectId('5f39f58cb4b1b77cadf5e6e5')

In [103]:
my_row=[{
    'name':'vikram',
    'last_name':'shinde',
    'mks':'99',
    'age':'20'
},
{
    'name':'vicky',
    'last_name':'shinde',
    'mks':'90',
    'age':'20'
},
{
    'name':'abc',
    'last_name':'shinde',
    'mks':'95',
    'age':'20'
}]

In [104]:
x =coll.insert_many(my_row)

In [105]:
x.inserted_ids

[ObjectId('5f39f591b4b1b77cadf5e6e6'),
 ObjectId('5f39f591b4b1b77cadf5e6e7'),
 ObjectId('5f39f591b4b1b77cadf5e6e8')]

In [106]:
result = coll.find({})

In [107]:
result[3]

{'_id': ObjectId('5f39f591b4b1b77cadf5e6e8'),
 'name': 'abc',
 'last_name': 'shinde',
 'mks': '95',
 'age': '20'}

In [62]:
for i in coll.find({}).skip(2).limit(1):
    print(i)
    
# find() returns iterable object

{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e3'), 'name': 'vicky', 'last_name': 'shinde', 'mks': '90', 'age': '20'}

In [72]:
# displaying only specific columns
# and excluding _id columns

for i in coll.find({},{'name':True,'last_name':True,'_id':False}):
    print(i)

{'name': 'vikram', 'last_name': 'shinde'}
{'name': 'vikram', 'last_name': 'shinde'}
{'name': 'vicky', 'last_name': 'shinde'}
{'name': 'abc', 'last_name': 'shinde'}

In [75]:
# searching docs using the condition
fil = {'name':'vikram'}
for i in coll.find(fil):
    print(i)

{'_id': ObjectId('5f39ef6ab4b1b77cadf5e6e1'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e2'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}

In [81]:
# using comaprison operators
fil = {'mks':{'$gte':'90'}}
for i in coll.find(fil):
    print(i)

{'_id': ObjectId('5f39ef6ab4b1b77cadf5e6e1'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e2'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e3'), 'name': 'vicky', 'last_name': 'shinde', 'mks': '90', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e4'), 'name': 'abc', 'last_name': 'shinde', 'mks': '95', 'age': '20'}

In [82]:
fil = {'mks':{'$lte':'90'}}
for i in coll.find(fil):
    print(i)

{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e3'), 'name': 'vicky', 'last_name': 'shinde', 'mks': '90', 'age': '20'}

In [84]:
# sorting the data in descending order
fil = {'mks':{'$gte':'90'}}
for i in coll.find(fil).sort('mks',-1):
    print(i)

{'_id': ObjectId('5f39ef6ab4b1b77cadf5e6e1'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e2'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e4'), 'name': 'abc', 'last_name': 'shinde', 'mks': '95', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e3'), 'name': 'vicky', 'last_name': 'shinde', 'mks': '90', 'age': '20'}

In [86]:
# sorting the data in ascending order
fil = {'mks':{'$gte':'90'}}
for i in coll.find(fil).sort('mks'):
    print(i)

{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e3'), 'name': 'vicky', 'last_name': 'shinde', 'mks': '90', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e4'), 'name': 'abc', 'last_name': 'shinde', 'mks': '95', 'age': '20'}
{'_id': ObjectId('5f39ef6ab4b1b77cadf5e6e1'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}
{'_id': ObjectId('5f39ef6db4b1b77cadf5e6e2'), 'name': 'vikram', 'last_name': 'shinde', 'mks': '99', 'age': '20'}

In [87]:
# deleting the row from mongodb
x = coll.delete_one({'name':'vicky'})

In [89]:
# getting count of deleted records
x.deleted_count

1

In [90]:
# similarly for droping the multiple rows use delete_many
x = coll.delete_many({'mks':'99'})
# for deleting all rows don't pass any parameter to the delete_many()

In [91]:
x.deleted_count

2

In [92]:
# for droping the entire collection
coll_to_drop=db['people'] # drops the entire collection named as people
coll_to_drop.drop()

In [93]:
# updating the values present in the collection

In [108]:
update_cond= {'name':'vicky'}
new_val={'$set':{'mks':'60'}}
x =coll.update_many(update_cond,new_val)

In [109]:
x.modified_count

1

In [ ]:
# for updating one row use update_one